<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="RegDatabaseConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\LDR\Documents\Visual Studio 2010\WebSites\login\App_Data\RegDatabase.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="ConnectionString" connectionString="workstation id=RegData.mssql.somee.com;packet size=4096;user id=aswathy28013_SQLLogin_1;pwd=lfcjabvioi;data source=RegData.mssql.somee.com;persist security info=False;initial catalog=RegData"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
